body {
	font-family: 'Montserrat', sans-serif;
	background: #262525;
	color: #fff;
	background: url(../img/123.png) no-repeat center center / contain;
	background-size: 2100px;
	padding: 0;
	margin:	0;
	letter-spacing: 0.02em;
	text-transform: uppercase;	
}

div, p, a, img, form, button {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul, li  {
	display: block;
	padding: 0;
	margin: 0;
}


.header {

}
.container {
	width: 850px;
	margin: 0 auto;
}

.menu {
	display: flex;
		margin-left: 180px;
}

.menu li {
 	font-size: 14px;
 	margin-right: 41px; 
}

.menu li a {
	color: #fff;
	padding: 10px 10px;
}

.menu li {
	color: #fff;
	padding: 16px 5px;
}

.menu li a.nonactive, 
	.menu li a:hover
{

	color: #fff;
	margin-left: 0px;
	border-top:	0.5px solid #fff; 
	border-bottom: 0.5px solid #fff; 
	border-right: 0.5px solid #fff; 
	border-left: 0.5px solid #fff; 
	transition: all;
	font-size: 20px; 
	font-size: 14px;
	width: 218px;
	font-weight: 900px;
}
	
.nav {
	align-items: center;
	margin-top: 300px;
}

.nickname {

}

.box {
 	display: flex;
 	align-items: center;
	justify-content: center;
}

.slider {
	background: rgba(0,0,0,0.07);
	position: relative;
}

.d3vdrxn1n {
	background: url(../img/logo2.png) no-repeat center center
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -5%;
	right: 0%;
	width: 680px;

}